@using Blazor.Bluetooth
@inherits BindableBase

<div class="form-group" style="background: #FDEDEC;">

    <div class="form-group">
        <label>
            Allow filter:
        </label>
        <input type="checkbox" @bind-value:event="onchange" @bind-value="AddFilter" />
    </div>

    @if (AddFilter)
    {
        <div class="form-group">
            <label>
                AcceptAllDevices:
            </label>
            <input type="checkbox" @bind-value:event="onchange" @bind-value="Options.AcceptAllDevices" />
        </div>

        <br />

        <!--  Filters -->

        <div class="form-group">
            <p><b>Filters</b></p>
            <AddFilterComponent SetRef="x => Options.Filters = x"/>
        </div>

        <br />

        <!--  Exclusive filters -->

        <div class="form-group">
            <p><b>Exclusive Filters</b></p>
            <AddFilterComponent SetRef="x => Options.ExclusionFilters = x" />
        </div>

        <br />

        <!--  Optional Services -->

        <div class="form-group">
            <p><b>Optional Services</b></p>
            <AddServicesComponent SetRef="x => Options.OptionalServices = x" />
        </div>

        <br />

        <!--  Optional Manufacturer data -->

        <div class="form-group">
            <p><b>Optional Manufacturer data</b></p>
            <AddManufacturerDataComponent SetRef="x => Options.OptionalManufacturerData = x" />
        </div>
    }

    <button class="btn btn-success" disabled="@IsBusy" onclick="@RequestDevice" type="button">Request Device</button>
</div>